@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    font-family: "Geist", sans-serif;
}

html {
    scrollbar-width: thin;
    scrollbar-color: #444 #888;
}

.dark {
  --background: #121212;
  --text: #ffffff;
  --primary: #90caf9;
}


@theme {
  --color-light-50: oklch(100% 0 0);
  --color-light-100: oklch(98.46% 0.0017 247.84);
  --color-light-200: oklch(96.7% 0.0029 264.54);
  --color-light-300: oklch(92.76% 0.0058 264.53);
  --color-light-400: oklch(87.17% 0.0093 258.34);
  --color-light-500: oklch(71.37% 0.0192 261.32);
  --color-light-600: oklch(55.1% 0.0234 264.36);
  --color-light-700: oklch(44.61% 0.0263 256.8);
  --color-light-800: oklch(37.29% 0.0306 259.73);
  --color-light-900: oklch(14.08% 0.0044 285.82);
  --color-light-950: oklch(0% 0 0);

  --color-brand-50: #edeeff;
  --color-brand-100: #dee0ff;
  --color-brand-200: #c3c4ff;
  --color-brand-300: #9f9eff;
  --color-brand-400: #8578ff;
  --color-brand-500: #6548fc;
  --color-brand-600: #6639f2;
  --color-brand-700: #582cd6;
  --color-brand-800: #4727ac;
  --color-brand-900: #3d2788;
  --color-brand-950: #25174f;

  --color-dark-50: #f7f7f8;
  --color-dark-100: #eeeef0;
  --color-dark-200: #dadadd;
  --color-dark-300: #b9bac0;
  --color-dark-400: #93949d;
  --color-dark-500: #767781;
  --color-dark-600: #5f5f6a;
  --color-dark-700: #4e4e56;
  --color-dark-800: #434349;
  --color-dark-900: #3a3a40;
  --color-dark-950: #161618;

  --color-main: #0a0a0a;
  --color-side: #1c1917;
  --color-hover: #292524;
  --color-border: #292524;
  --color-txt: #a6a09b;


/*
  --color-brand-50: #eff5ff;
  --color-brand-100: #dbe8fe;
  --color-brand-200: #bfd7fe;
  --color-brand-300: #93bbfd;
  --color-brand-400: #609afa;
  --color-brand-500: #3b82f6;
  --color-brand-600: #2570eb;
  --color-brand-700: #1d64d8;
  --color-brand-800: #1e55af;
  --color-brand-900: #1e478a;
  --color-brand-950: #172e54;
*/

  --sidebar-background: 0 0% 100%;
  --sidebar-foreground: 240 10% 3.9%;
  --sidebar-primary: 240 5.9% 10%;
  --sidebar-primary-foreground: 0 0% 98%;
  --sidebar-accent: 240 4.8% 95.9%;
  --sidebar-accent-foreground: 240 5.9% 10%;
  --sidebar-border: 240 5.9% 90%;
  --sidebar-ring: 240 5.9% 10%;
}

/* 
        primary: "#3B82F6",
        success: "#10B981",
        warning: "#F59E0B",
        danger: "#EF4444",
        high: "#EF4444",
        medium: "#F59E0B",
        low: "#10B981",
*/

.orange-gradient{
  background-image: linear-gradient(to bottom right, rgba(249, 115, 22, 0.1) 1%, #171717 25%);
}
.violet-gradient{
  background-image: linear-gradient(to bottom right, rgba(107, 33, 168, 0.1) 1%, #171717 25%);
}
.green-gradient{
  background-image: linear-gradient(to bottom right, rgba(22, 163, 74, 0.1) 1%, #171717 25%);
}
